body {
    background-color: ;
}

.backButton {
    float: right;
}

.info{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1em;
    background: #eee;
}

.si{
    line-height: 1.3em;
}

.checked {
    color: yellow;
}

.reviews{
    display:grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 1em;
}

.rating {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    background: #ccc;
}

.makeReview{
    width: 240px;
    height: 100px;
}