@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    font-family: 'Source Sans Pro', sans-serif;
}



body {
    background-color: ;
}

.backButton {
    float: right;
}

.info{
    border: 2px solid #ccc;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1em;
    background: #eee;
}

.si{
    line-height: 1.3em;
}

.checked {
    color: red;
}

.reviews {
    border: 2px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-row-gap: 2em;
    background: #eee;
    padding: 30px;
    grid-column-gap: 1em
}


.rating {
    border: 2px solid #eee;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    background: #ccc;
    padding: 30px;
}

.makeReview{
    border: 2px solid #000000;
    width: 160px;
    height: 80px;
}

.otherReviews {
    grid-row-gap: 3px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background: #ccc;
    padding: 30px;
    border: 2px solid #eee;
}