body {
    background-color: ;
}

.backButton {
    float: right;
}

.info{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1em;
    background: #eee;
}

.si{
    line-height: 1.3em;
}

.checked {
    color: red;
}

.rating {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    background: #eee;
}