body {
    background-color: #eee;
}

.title {
	font-family: 'Indie Flower';
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

th {
	border-bottom: 2px solid #6495ED;
	text-align: left;
	padding: 3px;
}

td {
	border-bottom: 1px solid aquamarine;
	padding: 3px;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

#strike-through {
	text-decoration: line-through;
}

.delete {
	float: right;
}

.ui-autocomplete {
    overflow: auto;
    height: 200px;
}