body {
    background-color: ;
}
.checked {
	color: yellow;

}

.fa-star {
	font-size: 30px;
}

.result {
	background-color: #C0C0C0;
	padding: 5px;
	min-height: 100px;
	overflow: hidden;

}

img {
	width: 100px; 
	height: 60px;
}

p {
	font-size: 10px;
}

